<html>
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>MATRIXURL</h1>
    <h2>ENTER URL</h2>
    <form class="longUrl" action="shortened_urls/create" method="POST">
      <div class="addURL">
        <input type="text" placeholder="SHORTEN URL" name="long_url"/>
      </div>
      <div class="submitURL">
        <input type="submit" value="Submit">
      </div>
    </form>
  </body>
</html>
