<!DOCTYPE html>
<html>
  <body>
    <h2>Enter the URL</h2>
      <form action = "shortened_urls/create", method = "POST">
        <input type = "text", value = "", name = "long_url"/>
        <input type = "submit" value="Submit">
      </form>
  </body>
</html>
